<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="9CMRMPTCzEL_nLA_deGGFCsKSouKDl_6D_MVBqp5Y-g" />
  <title>Client Trace-By Blue IT Marketing Pty LTD</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/dist/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/dist/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/dist/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/dist/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/dist/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/dist/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/dist/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/dist/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/dist/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/dist/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/dist/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/dist/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/dist/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/dist/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#fff">
  <!-- Manifest file for Installation on Android and Chrome -->
  <link rel="manifest" href="../static/dist/manifest/manifest.json">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../static/5up/assets/css/main.css" />
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../static/dist/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/dist/css/ionicons.min.css">

  <!-- Theme style -->
  <link rel="stylesheet" href="../static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../static/dist/css/skins/skin-blue.min.css">
  <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<!-- jQuery 2.2.3 -->
<script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini" id="MyBody" >
<div class="wrapper">

  <!-- Main Header -->
   <div id="MainHeaderDiv"></div>
  <!-- Left side column. contains the logo and sidebar -->
  <div id="SideBarDiv"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    <!-- Main content -->
    <section class="content">
     <div class="box box-body with-border">
				<header id="header">
					<div class="logo container">
						<div>
                            <a href="/login"><img src="../static/dist/favicons/favicon-96x96.png" alt="Blue IT Marketing"></a>
							<h1><a href="/" id="logo">Blue IT Marketing</a></h1><br>
							<p>Client Trace</p><br>
						</div>
					</div>
				</header>
         <div class="row">

            <div class="col-md-12">
			<!-- Banner -->
				<div id="banner-wrapper">
					<section id="banner">
						<h2>We can help you find anyone fast</h2>
						<p>
                            <ul class="special">
                        <li><strong>Find Adresses,</strong></li>
                        <li><strong>ID Number Verifications,</strong></li>
                        <li><strong>Drivers Licence,</strong></li>
                        <li><strong>Consumer Trace,</strong></li>
                        <li><strong>Cell To ID Number,</strong></li>
                        <li><strong>Bank Account Verifications,</strong></li>
                            </ul></p>
						<a href="/login" class="button">Alright let's go</a>
					</section>
				</div>
			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row 200%">
							<div class="12u">

								<!-- Highlight -->
									<section class="box highlight">

										<ul class="special">
											<li><a href="/addresses" class="icon fa-home" title="Find client addresses"><span class="label">Client Addresses</span></a></li>
                                            <li><a href="/idnumbers" class="icon fa-user" title="Find Client ID Numbers"><span class="label">Client ID Numbers</span></a></li>
                                            <li><a href="/driverslicence" class="icon fa-cab" title="Find Client Drivers Licence"><span class="label">Find Client Drivers Licence</span></a></li>
                                            <li><a href="/consumertrace" class="icon fa-magnet" title="Run Consumer Trace"><span class="label">Consumer Trace</span></a></li>
                                            <li><a href="/celltoidnumber" class="icon fa-phone" title="Affiliate Program"><span class="label">Affiliate Program</span></a></li>
										</ul>

										<header>
											<h2>Client Trace and Client Databases</h2>
                                            <p>We make it possible for you to find anyone you please at any time</p>

										</header>
									</section>
							</div>
						</div>
					</div>
				</div>
			<!-- Footer -->
				<footer id="footer" class="container">
					<div class="row 200%">
						<div class="12u">

							<!-- About -->
								<section>
									<h2 class="major"><span>Creating your Account</span></h2>
									<p> Anyone can create a business account free of charge and also invite other users from
                                        their organization or business, so that they can use the account.
                                       The only time you will be required to make payment is when you:
                                        <ul class="special">
                                            <li><strong><a class="glyphicon glyphicon-pencil" href="/login" title="Create your Account"> </a> Create your Account</strong></li>
                                        </ul>
									</p>
								</section>
						</div>
					</div>
					<div class="row 200%">
						<div class="12u">

							<!-- Contact -->
								<section>
									<h2 class="major"><span>Social Media</span></h2>
									<ul class="contact">
										<li><a class="icon fa-facebook" href="https://www.facebook.com/BlueITMarketingContactMessaging/"><span class="label">Facebook</span></a></li>
										<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
									</ul>
								</section>

						</div>
					</div>

					<!-- Copyright -->


				</footer>

			</div>

            </div>
        </div>
    </section>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
 <div id="FooterDiv"></div>
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<!-- Bootstrap 3.3.6 -->
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../static/plugins/fastclick/fastclick.min.js"></script>
			<script src="../static/5up/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/5up/assets/js/skel.min.js"></script>
			<script src="../static/5up/assets/js/skel-viewport.min.js"></script>
			<script src="../static/5up/assets/js/util.js"></script>

<script async defer type="text/javascript">$(document).ready(function(){$('#MainHeaderDiv').load("/navigation/header")});</script>
<script async defer type="text/javascript">$(document).ready(function(){$('#SideBarDiv').load("/navigation/sidebar")});</script>
<script async defer type="text/javascript">$(document).ready(function(){$('#FooterDiv').load("/navigation/footer")});</script>
<script>
  if ('serviceWorker' in navigator) {
    console.log("Will the service worker register?");
    navigator.serviceWorker.register('/service.js',{scope: "/"})
      .then(function(reg){
        console.log("Yes, it did.");
      }).catch(function(err) {
        console.log("No it didn't. This happened: ", err)
      });
  }
</script>
</body>
</html>
