 <ul class="sidebar-menu">
        <li class="header">C-Trace</li>
        <li class="treeview">
          <li><a href="/" title="Messaging &amp; Contact Management App Home"><i class="glyphicon glyphicon-home"></i> <strong>Home</strong></a></li>
          <!--<li><a href="/about" title="About"><i class="glyphicon glyphicon-info-sign"></i> <strong>About</strong></a></li> -->
          <li><a href="/about" title="Contact Us"><i class="fa fa-info-circle"></i> <strong>About</strong></a></li>
          <li><a href="/contact" title="Create your Account"><i class="fa fa-envelope-o"> </i> <strong> Contact</strong> </a> </li>
          <li class="treeview">
                  <li><a href="/accounts" title="Create your Account"><i class="glyphicon glyphicon-log-in"> </i> <strong> Account</strong> </a> </li>
                  <li><a href="/addresses" title="Find our client Address"><i class="glyphicon glyphicon-map-marker"> </i> <strong>Find Addresses</strong></a></li>
                  <li><a href="/id-numbers" title="Verify Your Client ID Number"><i class="fa fa-user"> </i> <strong>ID Number Verifications</strong></a></li>
                  <li><a href="/drivers-licence" title="Verify client drivers license"><i class="fa fa-cab"> </i> <strong>Drivers License</strong></a></li>
                  <li><a href="/consumer-trace" title="Trace our consumers"><i class="glyphicon glyphicon-shopping-cart"> </i> <strong> Consumer Trace</strong></a></li>
                  <li><a href="/cell-to-id" title="Convert your client Cell Number to ID Number"><i class="glyphicon glyphicon-phone"> </i> <strong>Cell To ID Number</strong></a></li>
                  <li><a href="/bank-account" title="Bank Account Verification"><i class="glyphicon glyphicon-credit-card"> </i> <strong>Bank Account Verifications</strong></a></li>
          </li>
        </li>
  </ul>